p::first-letter { 
    font-size: 2.8em; 
    color:darkred;
    font-weight: bold;

}

body {
	padding-top: 50px;
	color: #4169e1;

	}
	
h1, h2, h3, h4, h5, h6 {
	color: black;
	text-align: center;
	
	}
	p{text-align:left;}
	
	
.feature {
	background: lightblue linear-gradient(to bottom, lightskyblue, lightgreen);
	color: black;
	}

#feature-carousel {
	min-height: 250px;
	}
	
.article-intro {
    margin-bottom: 25px;
}

.footer-blurb {
	background-image: url(../Bilder/hg.jpg);
	background-repeat: repeat-x;
    padding: 30px 0;
    background-color: lightskyblue;
    color: black;

}
    
.footer-blurb-item {
    padding: 30px;
    }
 
.small-print {
	background-color: #fff;
	padding: 30px 0;
}

.feature,
.page-intro,
.article-intro,
.footer-blurb,
.small-print {
	text-align: center;
	}
